/.vs
/Convenience/Docfx/api
/Docfx/api
/Docfx/docs
/Docfx/index.md
/Docfx/toc.yml
/Docfx/_site
/Test
/Convenience/appsettings.json
/Convenience/wwwroot/tmpfiles
/Debug/bin/Debug/net7.0
/Debug/obj
/MatchingGame/bin/Debug/net7.0
/MatchingGame/obj
/SelfStudy/bin/Debug/net7.0
/SelfStudy/obj
/TestProject1/bin/Debug/net7.0
/TestProject1/obj
/Migration/obj
/TestProject1/bin/Release/net7.0
/UserLogin
