html {
  font-size: 14px;
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.custom-disabled {
    background-color: #e9ecef; /* デフォルトの灰色背景 */
    color: #6c757d; /* デフォルトの灰色テキスト */
}
.w-10 {
    width: 10%
}
.w-15 {
    width: 15%
}
.w-20{
    width: 20%
}

.light-pink {
    background-color: #ffe6e6;
}

.custom-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* マスタの場合：薄い灰色 */
.card.bg-other {
    background-color: rgba(255, 223, 186, 0.5);
}

/* 実績の場合：薄い緑 */
.card.bg-performance {
    background-color: rgba(144, 238, 144, 0.5);
}

/* ホームの場合：薄い青 */
.card.bg-home {
    background-color: rgba(173, 216, 230, 0.5);
}

/* その他の場合： 薄い黄色*/
.card.bg-master {
    background-color: rgba(211, 211, 211, 0.5);
}